/*******************************************************************/
/*              Hoja de estilo de Ramen.html                       */
/*              Autor: Pablo Diaz                                  */
/*              Version: 1.0                                       */
/*              fecha: octubre 2023                                */
/*              comentario: trabajo lenguaje en marcas             */
/*                                                                 */
/*******************************************************************/


/******** TEXT IMPORTS **********/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/*******************************/


* 
{ box-sizing: border-box ;}

body{
    background-image: url(../img/pattern2.jpg);
    margin: 0;
    background-color: white;
    font-size: 1em; }


/****************** IMGS **********************/

#mainimg2{
width: 100%;
border-radius: 15px;
}


/************************ InsideWrapper ***************************/

#wrapper{
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  max-width: 1080px;
  height: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  color: #0d7474;
  padding: 2%;

}
 
blockquote{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-left: 10px solid #0d7474;
    padding: 20px;
    background-color: #143e42;
    color: #73e2e9;
    text-align: center;
}

#mainingredientes{
    text-align: center;
    padding: 50px 0 50px;
    color: #0d7474;
    font-size: 2em;
}

h1, 
h2 {
    font-family: 'Roboto', sans-serif;
}

ul{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    list-style-type: none;  
    padding: auto;  
} 

li{
    padding: 10px;
}

/************************ FinWrapper ***************************/






